.user-container{
    border: 1px solid red;
    background-color: bisque;
    padding: 15px;
    margin: 13px;
}
.user-container .name{
    font-size: 18px ;
    font-weight: bold;
}
.user-container .details{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    font-size: 14px;
    
}